.contact .form-control {
    background-color: #F7F7F7;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #E5E5E5;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  
  .contact textarea.form-control {
    height: 150px;
  }
  
  .contact .btn-primary {
    background-color: green;
    
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
  }

  #contact {
    padding-top: 30vh;
  }

  #contact p {
    text-align: center;
  }


   @media screen and (max-width: 768px) {
    #contact {
      padding-top: 15vh;
    }
  }